{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Plano</th>
                    <th>Valor</th>
                    <th>Duração</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gold</td>
                    <td>R$ 100,00</td>
                    <td>1 mês</td>
                </tr>

                <tr>
                    <td>Silver</td>
                    <td>R$ 200,00</td>
                    <td>3 meses</td>
                </tr>

                <tr>
                    <td>Black</td>
                    <td>R$ 450,00</td>
                    <td>6 meses</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}