<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Gympoint</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Plataforma de gerenciamento de academia">
  <meta name="keywords" content="Academia, Malhação, treino">
  <meta content="Camilla Correia" name="creator">

  <!-- Favicons -->
  <link href="/assets/favicon.png" rel="icon">

  <!-- Bootstrap CSS File -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSS File -->
  <link href="/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header>
    
  </header>

  {% block content %}

  {% endblock content %}

  <!--  Javascript File -->
  <script src="/scripts.js"></script>

</body>
</html>