<div class="item">
    <div>avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ student.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input
            type="name"
            name="name"
            placeholder="Nome do instrutor"
            value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Endereço</div>
    <div>
        <input
            type="text"
            name="adress"
            value="{{ student.adress }}"
        >
    </div>
</div>

<div class="item">
    <div>Telefone</div>
    <div>
        <input
            type="number"
            name="number"
            value="{{ student.number }}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input
            type="email"
            name="email"
            value="{{ student.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio"
                name="gender"
                value="Masculino"
                {% if student.gender == 'Masculino' %}
                    checked
                {% endif %}>Masculino
        </span>
        <span>
            <input 
                type="radio"
                name="gender"
                value="Feminino"
                {% if student.gender == 'Feminino' %}
                    checked
                {% endif %}>Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo Sanguíneo</div>
    <div>
        <select name="blood">
            <option
                value="NI"
                {% if student.blood == 'NI' %}
                    selected
                {% endif %}>Não indentificado
            </option>
            <option
                value="A+"
                {% if student.blood == 'A+' %}
                    selected
                {% endif %}>A+
            </option>
            <option
                value="A-"
                {% if student.blood == 'A+' %}
                    selected
                {% endif %}>A-
            </option>
            <option
                value="B+"
                {% if student.blood == 'B+' %}
                    selected
                {% endif %}>B+
            </option>
            <option
                value="B-"
                {% if student.blood == 'B-' %}
                    selected
                {% endif %}>B-
            </option>
            <option
                value="AB+"
                {% if student.blood == 'AB+' %}
                    selected
                {% endif %}>AB+
            </option>
            <option
                value="AB-"
                {% if student.blood == 'AB-' %}
                    selected
                {% endif %}>AB-
            </option>
            <option
                value="O+"
                {% if student.blood == 'O+' %}
                    selected
                {% endif %}>O+
            </option>
            <option
                value="O-"
                {% if student.blood == 'O-' %}
                    selected
                {% endif %}>O-
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso (kg)</div>
    <div>
        <input
            type="number"
            name="weight"
            value="{{ student.weight }}"
        >
    </div>
</div>

<div class="item">
    <div>Altura (cm)</div>
    <div>
        <input
            type="number"
            name="height"
            value="{{ student.height }}"
        >
    </div>
</div>

<div class="item">
    <div>Plano</div>
    <div>
        <select name="plan">
            <option value="gold">Gold</option>
            <option value="silver">Silver</option>
            <option value="black">Black</option>
        </select>
    </div>
</div>

<div class="item">
    <div>
        <span class="activated">
            <input
                type="radio"
                name="register"
                value="ATIVO"
                {% if student.register == 'ATIVO' %}
                    checked
                {% endif %}>ATIVO
        </span>
        <span class="disabled">
            <input
                type="radio"
                name="register"
                value="DESATIVADO"
                {% if student.register == 'DESATIVADO' %}
                    checked
                {% endif %}>DESATIVADO
        </span>
    </div>
</div>

<button type="submit">Salvar</button>