@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #ee4d64;
}

body {
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none!important;
}

header {
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

nav a img {
    height: 80px;
    border-right: 2px #F5F5F5 solid;
    padding-right: 40px;
}

nav a {
    text-decoration: none;
    color: #9B9B9B;
    margin: 0px 30px 0px 30px;
    transition: color 0.1s;
    font-weight: bold;
}

nav a:hover {
    color: #686664;
    text-decoration: none!important;
}

nav a.active {
    color: #686664;
}

aside {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: right!important;
    margin-left: 100px;
}

aside h1 {
    color: #111;
    font-size: 14px;
    font-weight: bold;
}

aside a p {
    color: #EE4C63;
    font-size: 12px;
    margin: 0px;
    text-decoration: none!important;
}

/*--- LOGIN ---*/
main#login {
    width: 100%;
    height: 100vh;
    background: #ee4d64;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login section {
    max-width: 360px;
    width: 100%;
    text-align: center;
    padding: 30px 30px;
    background: #fff;
    border-radius: 4px;
}

#login section img {
    width: 130px;
}

#login section form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#login section form strong {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

#login section form input {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 44px;
    padding: 0 15px;
    color: #444;
    margin: 0 0 10px;
}

#login section form button {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #ee4d64;
    border: none;
    border-radius: 4px;
    padding: 13px;
    cursor: pointer;
}

#login section form button:hover {
    opacity: 0.9;
}

/*--- TEACHERS ---*/

.card {
    background-color: white;
    border-radius: 5px;
    width: 800px;
    height: 100%;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    border: 0px solid rgba(0,0,0,.125);
    animation-name: up 800ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

section.avatar {
    max-width: 800px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

section.details {
    max-width: 100%;
    background: transparent;
    padding: 20px;
    text-align: left;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.details .item:last-child {
    border: none;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 18px;
}

.details .item div:nth-child(1) {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 24px;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.details .item span {
    padding: 8px 16px;
    background-color: rgba(238, 76, 99, 0.9);
    border-radius: 5px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}

.details .item span.activated {
    padding: 8px 16px;
    background-color: rgba(0, 128, 0, 0.7);
    border-radius: 5px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}

.details .item span.disabled {
    padding: 8px 16px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}

div.item div.register {
    font-weight: bold;
}


.details .item input[type=url],
.details .item input[type=date],
.details .item input[type="name"],
.details .item input[type="text"],
.details .item input[type="number"],
.details .item input[type="email"],
.details .item select {   
    border: 0px solid #000000;
    outline: none;
    width: 100%;
}

.details .item input[type="radio"],
.details .item input[type="checkbox"] {   
    margin-right: 10px;
}

.details button,
a.button {
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #555;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
    cursor: pointer;
    text-align: center;
}

.details button:hover,
a:hover.button {
    opacity: 0.9;
}

a.button {
    text-decoration: none;
    text-align: center;
    display: block;
}

form#form-delete button {
    background-color: lightcoral;
}

table {
    border-collapse: separate;
}

.table-container {
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.table-container table {
    border-spacing: 0;
}

.table-container thread tr th {
    text-align: left;
}

td, th {
    padding: 10px;
    border-bottom: 2px solid #d9d9d9;
}

tbody tr:last-child td {
    border-bottom: none;
}

th {
    text-transform: uppercase;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
}

.table-container > a {
    margin-bottom: 8px;
    display: inline-block;
    text-align: center;
}

tbody tr td:last-child a:hover,
.table-container > a:hover {
    opacity: 0.9;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.table-container tbody td {
    font-size: 18px;
    color: #555;
}

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {     
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    margin: 0;
    width: 120px;
}

.table-container .header button {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    margin: 0;
    width: 120px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-container .header button:hover {
    opacity: 0.9;
    outline: none;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
}

.table-container .header input[type="text"] {
    outline: none;
    border: 1px solid #eee;
    height: 42px;
    font-size: 16px;
    padding-left: 10px;
    width: 250px;
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 40px 0px 0px 0px;
    align-self: center;
    justify-self: center;
}

.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a {
    background: var(--primary-color);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-right: 16px;
    padding-bottom:  30px;
}

.pagination a:hover {
    opacity: 0.9;
}