<div class="item">
    <div>avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://">
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="name" name="name" placeholder="Nome do instrutor">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth">
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span><input type="radio" name="gender" value="Masculino">Masculino</span>
        <span><input type="radio" name="gender" value="Feminino">Feminino</span>
    </div>
</div>

<div class="item">
    <div>Áreas de Atuação</div>
    <div>
        <span><input type="checkbox" name="actings" value="Crossfit">Crossfit</span>
        <span><input type="checkbox" name="actings" value="Musculacao">Musculação</span>
        <span><input type="checkbox" name="actings" value="Fitdance">Fitdance</span>
        <span><input type="checkbox" name="actings" value="Zumba">Zumba</span>
    </div>
</div>

<button type="submit">Salvar</button>